app-comment {
  overflow: auto;
  overflow-wrap: break-word;
}

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 60px;
  font-size: large;
  border-radius: 5px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.desktop-input {
  width: 100%;
}

.mobile-input {
  width: 0;
}

.mobile-input-2 {
  width: 100%;
  margin-left: 3%;
}

.search-container {
  border-radius: 5px;
  background-color: var(--background);
  margin-bottom: 2%;
}

.search-container-fixed {
  border-radius: 5px;
  background-color: var(--background);
  margin-bottom: 2%;
  position: fixed;
  top: 10px;
  width: 92%;
  max-width: 800px;
  z-index: 1;
}

.search-icon {
  padding: 10px;
  color: var(--on-surface);
}

.searchBarButton {
  width: 45px !important;
  height: 45px !important;
  text-align: center;
  margin: 1% 2% 1% 1%;
  color: var(--secondary);
}

.close {
  margin: 5px 0 5px 0;
}

.searchBarIcon {
  font-size: 45px;
  height: 45px;
  width: 45px;
  line-height: 100% !important;
  color: var(--secondary);
}

.no-comments {
  margin-top: 10%;
}

.button-bar {
  margin-right: 2%;
}

.counter {
  color: var(--on-background);
}

.counter-filtered {
  color: var(--red);
}

h3 {
  font-size: 18pt !important;
  margin: 10px;
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.scrollTop {
  position: fixed;
  left: 25px;
  bottom: 65px;
  transform: scale(0);
  z-index: 1;
  background-color: var(--secondary);
  color: var(--on-secondary);
  transition: 0.1s;
}

.visible {
  transform: scale(1.4);
}

.selected {
  color: var(--red) !important;
  font-weight: bold;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  opacity: 1.0 !important;
}

@keyframes animation_blink_5s {
  50% {
    opacity: 0;
  }
}

.active-filter .mat-icon {
  color: var(--red) !important;
  animation-name: animation_blink_5s;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 2;
  opacity: 1.0 !important;
}
