::ng-deep .mat-dialog-container {
  background-color: var(--surface);
}

.qr-container {
  height: 100%;
  background-color: var(--background);
}

.exitButton {
  background-color: var(--secondary);
  color: var(--on-secondary);
  position: absolute;
  top: 2em;
  right: 2em;
  max-height: 100px;
}
